
h1, h2 {
  font-family: Arial;
  margin-bottom: 10px;
}

.block {
  display: block;
  background: lightblue;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.inline {
  display: inline;
  background: lightgreen;
  padding: 5px;
  border-radius: 3px;
}

.inline-block {
  display: inline-block;
  width: 120px;
  height: 50px;
  background: orange;
  margin: 5px;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
}

.make-block {
  display: block;
  background: pink;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
}
