* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}

.container {
    display: grid;
    width: 90%;
    margin: auto;
    gap: 10px;

    grid-template-areas:
        "header header header"
        "nav nav nav"
        "left main right"
        "footer footer footer";

    grid-template-columns: 1fr 2fr 1fr;
}

.header {
    grid-area: header;
    background: burlywood;
    padding: 20px;
    text-align: center;
    font-size: 20px;
}

.nav {
    grid-area: nav;
    background: #d88080;
    padding: 15px;
    text-align: center;
}

.left, .right, .main {
    background: #7e6060;
    padding: 20px;
    min-height: 200px;
    text-align: center;
}

.left { grid-area: left; }
.main { grid-area: main; }
.right { grid-area: right; }

.footer {
    grid-area: footer;
    background: burlywood;
    padding: 20px;
    text-align: center;
    font-size: 20px;
}
